.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:focus {
  opacity: 0.6;
  outline: none;
}

.theme-menu__button:disabled:before {
  content: "▶";
  position: absolute;
  top: 0;
  left: -20px;
  animation: tic 0.6s ease infinite;
}

@keyframes tic {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(4px);
  }
  100% {
    transform: translateX(0px);
  }
}

.button:focus {
  filter: drop-shadow(2px 2px 0px var(--text-color));
  transition: 0.5s ease;
}

.button:hover:before {
  transform: translateX(0);
}

.button:hover {
  color: var(--bg-color);
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--text-color);
  transition: color 0.3s ease;
}

.card__icon-button .contour {
  fill: var(--text-color);
  transition: fill 0.1s linear;
}

.card__icon-button .sparks {
  fill: none;
}

.card__icon-button:hover .core {
  fill: var(--heart-dark-color);
  transition-delay: 0s;
}

.card__icon-button:hover .main-body {
  fill: var(--heart-dark-color);
  transition-delay: 0.05s;
}

.card__icon-button:active .core {
  fill: var(--heart-main-color);
  transition-delay: 0s;
}

.card__icon-button:active .main-body {
  fill: var(--heart-main-color);
  transition-delay: 0.05s;
}

.like-icon.is-liked .core,
.like-icon.is-liked .main-body,
.like-icon.is-liked .sparks {
  fill: var(--heart-main-color);
  transition-duration: 0.3s;
}

.like-icon.is-liked .contour {
  fill: var(--heart-main-color);
}

@keyframes heart-scaling {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

.like-icon.is-liked {
  animation: heart-scaling 0.3s ease-in 0.1s both;
}

@keyframes heart-sparkling {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.card__image#image_ordinary {
  filter: brightness(70%);
}

.card__image#image_min_saturation {
  filter: saturate(20%);
}

.card__image#image_max_contrast {
  filter: contrast(60%);
}

.card__image#image_dark {
  filter: invert(0.1);
}

.card__image#image_negative {
  filter: grayscale(0.9);
}

.card__image#image_sepia {
  filter: sepia(0.7);
}

.card__image#image_blur {
  filter: blur(0.1em);
}

.card__image#image_sepia_negative {
  filter: brightness(140%) saturate(80%);
}

.like-icon.is-liked .sparks {
  animation: heart-sparkling 0.3s ease-in 0.3s both;
}