.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  min-width: 375px;
  max-width: 700px;
  margin: auto;
  color: var(--text-color);
  background-size: cover;
  font-variation-settings: "wght" var(--text-weight-paragraph);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg-color);
  outline: var(--text-color) solid 2px;
  margin: 102px auto 104px;
  font-family: 'Press Start 2P', fantasy;
  font-size: 14px;
  line-height: 14px;
}

.header__accent_title {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  line-height: 65px;
  padding: 136px 0 0;
  text-transform: uppercase;
}

.header__title {
  text-transform: uppercase;
  padding: 20px 0 0;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  line-height: 23px;
}

.header__theme-menu {
  padding: 25px 133px 25px 154px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.theme-menu__button {
  background: none;
  border: none;
  text-transform: uppercase;
  padding: 0;
  cursor: pointer;
  position: relative;
}

.theme-menu__button:focus-visible:after {
  content: '';
  bottom: -2px;
  left: 0;
  height: 2px;
  position: absolute;
  transition: width 0.6s ease, opacity 0.6s ease;
  width: 100%;
  opacity: 1;
}

.theme-menu__button:after {
  content: '';
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--text-color);
  position: absolute;
  opacity: 0;
  transition: width 0.6s ease, opacity 0.6s ease;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 52px;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color);
  outline: var(--text-color) solid 2px;
}

.card__title {
  padding: 5px 10px;
  font-variation-settings: "wght" var(--text-weight-title);
  line-height: 22px;
  border-bottom: 2px solid var(--text-color);
  font-size: 18px;
}

.card__image_container {
  display: grid;
  grid-area: 1 / 1;
  position: relative;
}

.watermark {
  display: grid;
  grid-area: 1 / 1;
  margin: 25px 25px 0 0;
  font-family: 'Press Start 2P', fantasy;
  font-size: 14px;
  mix-blend-mode: hard-light;
  text-shadow: 1px 1px 1px var(--bg-color);
  opacity: 0.5;
  line-height: 14px;
  text-transform: lowercase;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.watermark__abbr {
  text-transform: uppercase;
}

@supports (text-stroke: 1px var(--bg-color)) or (-webkit-text-stroke: 1px var(--bg-color)) {
  .watermark {
    text-shadow: none;
    text-stroke: 1px var(--bg-color);
    -webkit-text-stroke: 1px var(--bg-color);
  }
}

.card__image {
  display: grid;
  grid-area: 1 / 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  outline: 2px solid var(--text-color);
}

.card__image#image_ordinary {
  filter: brightness(70%);
}

.card__image#image_min_saturation {
  filter: saturate(20%);
}

.card__image#image_max_contrast {
  filter: contrast(60%);
}

.card__image#image_dark {
  filter: invert(0.1);
}

.card__image#image_negative {
  filter: grayscale(0.9);
}

.card__image#image_sepia {
  filter: sepia(0.7);
}

.card__image#image_blur {
  filter: blur(0.1em);
}

.card__image#image_sepia_negative {
  filter: brightness(140%) saturate(80%);
}

.card__paragraph {
  padding: 23px 27px 0;
  display: flex;
  flex-direction: column;
  gap: 27px;
}

.card__like {
  display: flex;
  justify-content: end;
  padding: 27px 0 0;
  margin: 0 28px 26px 0;
}

.button {
  font-family: 'Press Start 2P', fantasy;
  font-size: 14px;
  line-height: 90%;
  text-align: center;
  color: var(--text-color);
  background: var(--bg-color);
  outline: 2px solid var(--text-color);
  border: none;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.card__like-button {
  height: 34px;
  min-width: 128px;
  margin-left: 8px;
}

.card__icon-button {
  border: none;
  cursor: pointer;
  background: transparent;
  padding: 0;
  width: 39px;
  height: 36px;
  outline: none;
  transition: outline 0.3s ease;
}

.save {
  display: flex;
  justify-content: center;
}

.save__button {
  margin: 0 0 100px;
  background: var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 15px 20px;
  line-height: 120%;
}

html.theme-dark .save__floppy {
  color: var(--text-color);
  mix-blend-mode: difference;
}

.save__floppy {
  width: 21px;
  height: 21px;
  color: var(--text-color);
}

.dialog__title {
  font-family: 'Press Start 2P', fantasy;
  font-size: 14px;
  line-height: 150%;
  width: 234px;
}

.dialog__floppy {
  align-self: center;
  margin-right: 20px;
}

.dialog__insert_floppy {
  width: 357px;
  border-width: 2px;
  background: var(--bg-color);
  color: var(--text-color);
  padding: 30px;
  text-transform: uppercase;
}

.dialog__insert_floppy_content {
  display: flex;
}

.closing_button {
  height: 38px;
  margin-top: 30px;
  width: 100%;
  line-height: 90%;
  color: var(--text-color);
  text-transform: uppercase;
}

.dialog__insert_floppy::backdrop {
  background: #000;
  opacity: 0.75;
}

@media (width <= 375px) {
  .header__title {
    line-height: 14px;
  }

  .header__accent_title {
    line-height: 49px;
    padding: 120px 0 0;
  }

  .main {
    gap: 53px;
  }
  
  .card__title {
    padding: 5px 12px 4px;
  }
  
  .watermark {
    margin: 22px 13px 0 0;
  }

  .save__button {
    flex-direction: column;
    gap: 6px;
  }

  .save__floppy {
    width: 28px;
    height: 28px;
  }

  .dialog__insert_floppy {
    width: 341px;
    padding: 30px 40px;
    font-size: 0;
  }

  .dialog__title {
    width: 198px;
  }
}