/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --text-color: #000000;
  --bg-color: #fff;
  --bg-url: url("../images/background.png");
}